.inputbox {
    margin: 18px;
}

.inputbox input {
    padding: 0 5px;
    width: 250px;
    height: 33px;
    background-color: #F0F0F0;
    border: 2px solid white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio {
    margin: 0 9px;
}